---
import "../styles/global.css";
import { getAuthors } from "../authors";
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
const url = Astro.url.toString();

const authors = getAuthors(frontmatter.authors);
import { ChevronLeft } from "lucide-astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
    <meta name="keywords" content={(frontmatter.tags || []).join(",")} />

    {
      authors.map((author) => (
        <>
          <meta name="author" content={author.name} />
          <link rel="author" href={author.website} />
        </>
      ))
    }

    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:description" content={frontmatter.description} />
    <meta property="og:url" content={url} />
    <meta
      property="og:article:published_time"
      content={frontmatter.published}
    />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="any" />

    <script
      defer
      data-domain="axflow.dev"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="relative bg-zinc-1000">
    <div class="bg-dot-grid absolute left-0 top-0 h-full w-full"></div>
    <Header />
    <a
      href="/blog"
      class="flex pl-2 md:pl-20 pt-6 items-center gap-2 opacity-60 hover:underline hover:cursor-pointer"
    >
      <ChevronLeft class="h-6 w-6" />
      <p>Blog home</p>
    </a>
    <main class="z-10 md:flex md:justify-center pb-40">
      <article class="prose dark:prose-invert px-4 lg:px-0 break-word z-10">
        <slot />
      </article>
    </main>
  </body>
</html>
